<div class="container mt-4 mb-4">
    <div class="d-flex justify-content-center text-center" *ngIf="loading">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row" *ngIf="!loading">
        <div class="col-auto">
            <label class="sr-only" for="search">Order</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="./assets/img/up-and-down.svg" width="20" /></div>
                </div>
                <select class="form-control" (change)="onChange($event.target.value)">
                    <option value="">Default order</option>
                    <option value="TITLE">Title</option>
                    <option value="PRICE">Price</option>
                    <option value="RELEASEDATE">Date</option>
                </select>
                <select class="form-control" (change)="onChange($event.target.value)" ([ngModel])="order">
                    <option [value]="orderType.asc" [selected]="order === orderType.asc">Ascendent</option>
                    <option [value]="orderType.desc" [selected]="order === orderType.desc">Descendent</option>
                </select>
            </div>
        </div>
        <div class="col-auto ml-md-auto">
            <label class="sr-only" for="search">Search album</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="./assets/img/search.svg" width="20" /></div>
                </div>
                <input type="text" class="form-control" [(ngModel)]="term" id="search" placeholder="Search album" (input)="onSearchChange($event.target.value)" />
            </div>
        </div>
    </div>
    <div class="row" *ngIf="(term !== '' ? searchList.length > 0 : albumsList.length > 0)">
        <div class="col-lg-3 col-md-6 col-sm-12 animated fadeIn" *ngFor="let album of (term !== '' ? searchList : albumsList)">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="{{ album.IMAGE }}" alt="Card image album">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ album.TITLE }}</h5>
                    <h6 class="card-title font-weight-bold">{{ album.PRICE }}</h6>
                    <h6 class="card-title font-weight-bold">{{ album.RELEASEDATE | date:'dd/MM/yyyy' }}</h6>
                    <p class="card-text"></p>
                    <a (click)="viewDetails(album)" class="btn btn-primary white">View details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4" *ngIf="(term !== undefined || term !== '' ? searchList.length === 0 : albumsList.length === 0) && !loading">
        <div class="col-12 text-center">
            <img src="./assets/img/loupe.svg" width="50" />
            <h3>No results found</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center" *ngIf="!loading && term === ''">
            <p>Show more albums</p>
            <img src="./assets/img/arrow-down.svg" class="hand" alt="Arrow down" width="40" (click)="showMoreAlbums()" />
        </div>
    </div>
</div>